/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root
{
    --header-height: 3.5rem;

    /* =========  COLORS  ========= */
    --primary-color: #221C0F;
    --secondary-color: #967959;
    --tertiary-color:#FBE4BD;
    --main-background: #FFFF;
    --font-color:#0000;
    
    /* =========  Font  ========= */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ========= Font weight ========= */
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margins Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: 0; 
    background-color: var(--main-background);
    color: var(--primary-color);
    transition: .4s;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* =========  REUSABLE CODES  ========= */
.section {
    padding: 5.5rem 0 1rem;
}

.section_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2);
    line-height: 140%;
    text-align: center;
    padding-top: 2.5rem;
}

.section_description {
    width: 50%;
    margin: 0 auto; /* Center the element horizontally */
    text-align: center;
    padding-bottom: 2rem;
}

.container {
    max-width: 100%;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

/* =========  NAVIGATION  ========= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--main-background);
    z-index: var(--z-fixed);
    transition: .4s;
}

.title_logo {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.logo img {
    width: 50px;
    height: 50px;
}

.title_banner {
    font-size: var(--h2-font-size);
    color: var(--primary-color);
}

.nav_con {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.nav_list {
    display: flex;
    column-gap: 3rem;
}

.nav_link {
    color: var(--primary-color);
    transition: .3s;
}

.nav_link:hover {
    color: var(--secondary-color);
}

.nav_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s;
}

.nav_items:hover ~ .nav_line,
.nav_items:hover .nav_line {
    transform: scaleX(1);
}

.nav_items {
    position: relative;
    padding-right: 1rem; 
}

.nav_items::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s;
}

.nav_items:hover::before {
    transform: scaleX(1);
}

/* =========  HOME  ========= */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url("../media/media_one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
.home_con {
    position: relative;
    row-gap: 2rem;
    left: -2rem;
}

.home_social-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home_social {
    position: relative;
    font-size: 15px;
    top: 3rem;
    left: 3rem;
    padding-right: 10rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
    margin-right: auto;
}

.home_data {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    margin-left: -5rem;
}

.home_social-follow {
    font-weight: var(--font-medium);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
}

.home_social-follow::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -45%;
    top: 50%;
  }

.home_social-links {
    display: inline-flex;
    flex-direction: column;
    row-gap:.25rem;
}

.home_social-link {
    font-size: 20px;
    color: var(--primary-color);
    transition:.3s;
}

.home_social-link:hover {
    transform: translateX(.25rem);
    color: var(--secondary-color);
}

.home_title {
    font-size: 2.5rem; 
    margin-bottom: var(--mb-0-75);
}

.home_description {
    font-size: 1rem; 
    margin-bottom: var(--mb-1-5);
}

.button {
    width: 24%;
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--main-background);
    border: none;
    padding: 1rem 1rem; 
    margin-top: var(--mb-2);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 0.25rem; 
    font-size: 0.875rem;
    text-align: center;
}

.button:hover {
    background-color: var(--secondary-color);
    color: var(--main-background);
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-0.05rem);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0,0.2);
}

.button:focus {
    box-shadow: 0 0 0 2px var(--secondary-color);
}

.button:focus:not(:active) {
    animation: pulse 1s ease-in-out;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 2px var(--secondary-color);
    }
    50% {
        box-shadow: 0 0 0 4px var(--secondary-color);
    }
    100% {
        box-shadow: 0 0 0 2px var(--secondary-color);
    }
}


/* =========  MENU  ========= */
.menu {
    height: auto;
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .menu__title {
    padding-top: 4rem;
    text-align: center;
    font-size: 2.5rem;
  }
  
  .menu__description {
    width: 60%;
    text-align: center;
    padding: 1rem;
    font-size: var(--font-medium);
    margin: 0 auto;
  }
  
  .menu__content {
    margin-top: 1rem;
    padding: 2rem;
  }
  
  .slider {
    margin-bottom: 30px;
    position: relative;
  }
  
  .slider-card {
    height: auto;
    width: auto;
    background: #fff;
    padding: 1rem;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    transition: all 0.3s;
  }
  
  .slider-card img {
    border-radius: 5px 5px 0px 0px;
    height: 10%;
    width: auto;
  }
  
  .slider-card h5 {
    font-size: 1.5rem;
    margin: 0;
    transition: all 0.3s;
  }
  
  .slider-card p {
    font-size: 1rem;
    margin: 0;
    transition: all 0.3s;
  }
  
  .owl-carousel .owl-item {
    width: 100%;
    height: auto;
  }
  
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  
  .owl-dots {
    text-align: center;
  }
  
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  
  .owl-dots .owl-dot.active {
    background: var(--primary-color) !important;
  }
  
  .slider-card.active {
    transform: scale(1.1);
    background-color: var(--secondary-color);
  }
  
  .slider-card.active .slider-card__title,
  .slider-card.active .slider-card__description {
    color: var(--primary-color);
  }
  
  .slider-card .slider-card__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s;
  }
  
  .slider-card .slider-card__description {
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s;
  }
  
  .slider-card.active .slider-card__title {
    font-size: 1.7rem;
    transition: all 0.3s;
  }
  
  .slider-card.active .slider-card__description {
    font-size: 1.2rem;
    transition: all 0.3s;
  }

/* =========  RESERVATION  ========= */
.reservation {
    background-image: url('../media/media_three.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    width: 100%;
    height: auto;
    color: var(--primary-color);
}

.reservation_content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.form-container {
    width: 40%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-container input,
.form-container select,
#sub-cuisine {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
}

.form-container button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: var(--secondary-color);
}

.form-container.show-sub-cuisine #sub-cuisine {
    display: block;
}

.form-container #sub-cuisine {
    display: none;
}

/* =========  FOOTER  ========= */
.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
}

.footer .footer-column {
    display: flex;
    flex-direction: column;
}

.footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    animation: fade-in 1s ease-out forwards;
}

.footer p {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    animation-delay: 0.2s;
}

.footer a {
    color: var(--secondary-color);
    text-decoration: none;
    animation: fade-in 1s ease-out forwards;
    animation-delay: 0.4s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}